{block #titles}E-mail{/block}
{block content}

<h1 class="page-header"><i class="fa fa-life-ring"></i> E-mail</h1>

<div class="row">
    <div class="col-lg-9">
        {control editMailTemplate}
    </div>
    <div class="col-lg-3">
        <h2>Kontrolní e-mail</h2>
        {control sendTestMail}
    </div>
</div>