{var $templateName = $presenter->getView()}
{if $paginator->getPageCount() > 1}
    <nav>
            <ul class="pagination justify-content-center">
                {if $paginator->getPage() > 1}
                    <li class="page-item">
                        <a class="page-link" href="{plink $templateName, (expand) $args, 'page' => 1}" data-paging="1">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                {/if}
                {var $interval = 10}
                {if ($paginator->getPage()- $interval) >= 1}
                    <li class="page-item">
                        <a href="{plink $templateName, (expand) $args, 'page' => ($paginator->getPage()-10)}"
                           data-paging="{$paginator->getPage()-10}" class="page-link">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                {/if}

                {if $paginator->getPageCount() <= $interval}
                    {var $first = 0}
                    {var $last = $paginator->getPageCount()}
                {elseif $paginator->getPage() < $interval}
                    {var $first = 0}
                    {var $last = $interval}
                {else}
                    {var $pageLeft = ($paginator->getPageCount() - $paginator->getPage()) - (($interval/2)-1)}
                    {if $pageLeft <= 0}
                        {var $last = $paginator->getPageCount()}
                        {var $first = ($paginator->getPageCount() - ($interval-1))}
                    {else}
                        {var $first = ($paginator->getPage()-($interval/2))}
                        {var $last = ($paginator->getPage()+($interval/2))}
                    {/if}
                {/if}

                {for $i = $first;$i < $last;$i++}
                    {if ($i + 1) == $paginator->getPage()}
                        <li class="page-item active">
                            {else}
                        <li>
                    {/if}
                    <a class="page-link" href="{plink $templateName, (expand) $args, 'page' => $i+1}" data-paging="{$i+1}">{$i+1}</a>
                    </li>
                {/for}

                {if ($paginator->getPageCount() - $paginator->getPage()) >= $interval}
                    <li class="page-item">
                        <a href="{plink $templateName, (expand) $args, 'page' => $paginator->getPage()+$interval}"
                           data-paging="{$paginator->getPage()+$interval}" title="+ {$iterator} stránek" class="page-link">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                {/if}

                {if $paginator->getPage() < $paginator->getPageCount()}
                    <li class="page-item">
                        <a href="{plink $templateName, (expand) $args, 'page' => $paginator->lastPage}"
                           data-paging="{$paginator->last}" class="page-link">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                {/if}
            </ul>
    </nav>
{/if}