<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="cs">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Caloris</title>
        <style>

        </style>
    </head>
    <body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" 
          style="width:100% !important; text-align: center;">

        <table style="width: 800px; margin: 0 auto 0 auto;">
            <tr>
                <td colspan="2" style="color: white; vertical-align: middle; background-color: #8e8e8e; 
                    font-size: 1.82em; height: 80px; border-bottom: 4px solid #ac3535; font-weight: bold; padding-left: 20px;">Caloris</td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    Děkujeme za Vaši zprávu. Budeme Vás brzy kontaktovat.
                    <br />
                    {$name}<br />
                    {$phone}<br />
                    {$email}<br />
                    <br /><br />
                    {$message}<br />
                </td>
            </tr>
        </table>

    </body>
</html>