{block content}
<div class="container heading">
    <h1>{control pageTitle $page}</h1>
</div>

<div class="container content content-blog">
    <div class="col-sm-8">
        {control blogList}
    </div>
</div>