{block #titles}Carousel{/block}
{block content}

<h1 class="page-header">Carousel</h1>

<p><a n:href="insert!" class="btn btn-success">{_dictionary.main.Create}</a></p>

<div class="row">
    <div class="col-lg-9">
        {control carouselGrid}
    </div>
</div>
