<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name=robots content=noindex>
    <meta name=generator content="Nette Framework">
    <link rel="stylesheet" href="/css/front.css" type="text/css" />
            <!--[if IE 8]><link rel="stylesheet" href="{$baseUri}/css/emulation-ie8.css" type="text/css" media="screen,projection" /><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{$settings['site:title']}: 403 Access Denied</title>
</head>
<body>
    <br /><br />
    <header>
        <div class="container">
            <div class="col-md-8">
                <a n:href=":Front:Homepage:default">{$settings['site:title']}</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </header>
    <div class="container">
        <h1 n:block=title>Access Denied</h1>

        <p>You do not have permission to view this page. Please try contact the web
            site administrator if you believe you should be able to view this page.</p>

        <p><small>error 403</small></p>
    </div>
</body>

