{block #titles}{$page->title}{/block}
{block content}

{control pageTopMenu}

<h1 class="page-header">{$page->title} - {_dictionary.main.Files}</h1>

{control imageUpload, 0}

<h2>Seznam souborů</h2>

<table class="table">
    {control productFileList $page, 'FileListAdminControl'}
</table>

