<table class="table">
    <tr>
        <th></th>
        <th>Slovní spojení</th>
    </tr>
    {foreach $blacklist as $item}
        <tr>
            <td class="w-5">
                <a href="{link delete!, id => $item->id}" class="text-danger">
                    <i class="fa fa-times text-danger"></i>
                </a>
            </td>
            <td>{$item->title}</td>
        </tr>
    {/foreach}
</table>

<div class="text-center">
    {control paging, $args, $paginator}
</div>