{block #titles}Kategorie odakzů{/block}
{block content}

<h1 class="page-header">Kategorie odkazů</h1>

{foreach $flashes as $flash}
    <br />
    <div class="flash {$flash->type}">{$flash->message}</div>
    <br />
{/foreach}

<div class="row">
    <div class="col-md-1"><a n:href=":Admin:Links:default" class="btn btn-default">Odkazy</a></div>
    <div class="col-md-11">{control insertCategoryForm}</div>
</div>
<br />

<div class="col-md-12">

    <table class="table table-striped">
        <tr>
            <th class="col-xs-1"></th>
            <th>Skupina</th>
        </tr>
        {foreach $categories as $category}
            <tr>
                <td class="col-xs-1"><form action="{link deleteCategory!, id => $category->id}" method="post" style="display: inline;" onsubmit="return confirm('Opravdu smazat skupina a všechny kontakty přesunout do hlavní skupiny?')">
                    <input type="hidden" name="_csrf" value="{$presenter->getMutationToken()}">
                    <button type="submit" class="btn"><i class="fa fa-times font-red"></i></button>
                </form></td>
                <td>{$category->category}</td>
            </tr>
        {/foreach}    
    </table>
</div>
