{block #titles}Odkazy - {$link->title}{/block}
{block content}

<h1 class="page-header">Odkaz: {$link->title}</h1>

{control editForm}
{var $id = $presenter->getParameter('id')}
{if file_exists($appDir.'/images/links/'.str_pad($id, 6, '0', STR_PAD_LEFT).'.jpg')}
    <img src="{$baseUri}/images/links/{$id|padLeft:6:'0'}.jpg" style="max-width: 250px;" /><br />
    <a n:href="deleteImage!, $id" class="btn btn-danger" onclick="return confirm('Opravdu smazat?')">Smazat obrázek</a>
{/if}