{block #titles}Odkazy - {$link->title}{/block}
{block content}

<h1 class="page-header">Odkaz: {$link->title}</h1>

{control editForm}
{var $id = $presenter->getParameter('id')}
{if file_exists($appDir.'/links/'.$id.'.jpg')}
    <img src="{$baseUri}/links/{$id}.jpg" style="max-width: 250px;" /><br />
    <a n:href="deleteImage!, $id" class="btn btn-danger" onclick="return confirm('Opravdu smazat?')">Smazat obrázek</a>
{/if}