<form n:name="insertForm">
    <input type="hidden" n:name="parent" value="{$categoryId}">
    <div class="form-group">
        <label class="col-sm-3 control-label">Název</label>
        <div class="col-sm-9"><input type="text" n:name="title" class="form-control"></div>
    </div>
    <div class="modal-footer">
        <input n:name="submitm" value="Vložit" class="btn btm-success">
</form>