<form n:name="addForm">
    <div class="input-group mb-3">
        <input type="text" n:name="email" class="form-control" placeholder="váš e-mail" aria-label="váš e-mail">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary sent-email" type="button">Přihlásit</button>
        </div>
    </div>
</form>
