{var $name = $presenter->getView()}

<nav class="nav flex-column">
    {foreach $menu as $item}
            <a class="nav-link active" href="{plink $name, (expand) $args, id => $item->id}">
                {if $idActive == $item->id}
                <strong>{/if}{$item->title}{if $idActive == $item->id}</strong>
                {/if}
            </a>
            {php $selection = $item->related('contacts_categories','parent_id')}
            {if $selection->count() > 0}
                {include #menu, menu => $selection}
            {/if}
    {/foreach}
</nav>