{block #titles}Administrace{/block}
{block content}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="container-fluid">
    <div class="card">
        <div class="card-block">
            <h1 class="card-title">Vítejte</h1>
        </div>
    </div>
</div>