parameters:

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days
	auto_start: true
	savePath: "%tempDir%/sessions"

services:
	- App\Model\MyAuthenticator
	- App\Model\Category
	- App\Router\RouterFactory
	- Model\SlugManager
	router: App\Router\RouterFactory::createRouter
	cacheClear:
		class: App\Console\CacheClearCommand
		tags: [kdyby.console.command]
	thumbnailGenerator:
		class: App\Console\ThumbnailGeneratorCommand
		tags: [kdyby.console.command]

extensions:
    translation: Contributte\Translation\DI\TranslationExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    events: Contributte\EventDispatcher\DI\EventDispatcherExtension

translation:
    locales:
        default: cs
        fallback: [cs_CZ, cs]
        whitelist: [cs, en]