parameters:


database:
	dsn: 'mysql:host=;dbname='
	user: ''
	password: ''
	options:
		lazy: yes


doctrine:
		user: ''
		password: ''
		dbname: ''
		host: 'localhost'

services:
	nette.latteFactory:
		setup:
			- setAutoRefresh(true)
	cache.storage:
		factory: Nette\Caching\Storages\FileStorage(%tempDir%)