#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days
	autostart: true
	savePath: "%tempDir%/sessions"
routing:
	debugger: true
container:
	accessors: true


services:
	- App\Model\Authenticator
	- App\Model\Category
	- BaseForm
	- App\RouterFactory
	- Model\SlugManager
	- Caloriscz\Profile\Admin\IEditControlFactory
	dashboard: Caloriscz\Navigation\IDashboardControlFactory
	router: @App\RouterFactory::createRouter

extensions:
    translation: Kdyby\Translation\DI\TranslationExtension
    mobileDetect: IPub\MobileDetect\DI\MobileDetectExtension

translation:
    default: cs
    fallback: [cs_CZ, cs]
    whitelist: [cs, en]
    resolvers:
        header: off