parameters:


database:
	dsn: 'mysql:host=wm61.wedos.net;dbname=d68895_devcal'
	user: 'a68895_devcal'
	password: 'LE86TErH'
	options:
		lazy: yes

services:
	nette.latteFactory:
		setup:
			- setAutoRefresh(true)
	cache.journal:
		factory: Nette\Caching\Storages\FileJournal(%tempDir%)