<table class="table">
    {foreach $page as $item}
        <tr>
            <td>
                {if $item->title == ''}
                    {$item->name}
                {else}
                    {$item->title}
                {/if}
            </td>
            <td><a href="/media/{$item->pages_id}/{$item->name}">Stáhnout</a></td>
        </tr>
    {/foreach}
</table>