{foreach $page as $item}
    <tr>
        <td class="col-xs-1">
            <a href="{link deleteFile!, id => $item->id, name => $item->pages_id}" class="btn" role="button" onclick="return confirm('{_admin.catalogue.deletereallymessage}')">
                <i class="fa fa-times font-red"></i>
            </a>
            <a href="{plink ':Admin:Pictures:detail', id => $item->id}" class="btn btn-default btn-xs">
                {_dictionary.main.Edit}
            </a>
        </td>

        <td><a href="/media/{$item->id}/{$item->name}">{$item->name}</a></td>
        <td>{$item->description}</td>
    </tr>
{/foreach}