<table class="table">
{foreach $page as $item}
    <tr>
        <td class="col-xs-1">
            <a href="{link deleteFile!, id => $item->id, name => $item->pages_id}" class="text-danger" onclick="return confirm('Opravdu smazat')">
                <i class="fa fa-times"></i>
            </a>
            <a href="{plink ':Admin:Files:detailFile', id => $item->id}" class="btn btn-default btn-xs">
                Upravit
            </a>
        </td>
        <td><a href="/media/{$item->pages_id}/{$item->name}">{$item->name}</a></td>
        <td>{$item->description}</td>
    </tr>
{/foreach}
</table>