<table class="table">
{foreach $page as $item}
    <tr>
        <td class="col-xs-1">
            <form action="{link deleteFile! id => $item->id, name => $item->pages_id}" method="post" style="display: inline;">
                <input type="hidden" name="_csrf" value="{$csrfToken}">
                <button type="submit" class="btn btn-link text-danger p-0"
                        onclick="return confirm('Opravdu smazat')">
                    <i class="fa fa-times"></i>
                </button>
            </form>
            <a href="{plink ':Admin:Files:detailFile', id => $item->id}" class="btn btn-default btn-xs">
                Upravit
            </a>
        </td>
        <td><a href="/media/{$item->pages_id}/{$item->name}">{$item->name}</a></td>
        <td>{$item->description}</td>
    </tr>
{/foreach}
</table>
