<table class="table table-sm">
    <tbody>
    {foreach $pages as $page}
        <tr>
            <td class="w-50">
                <a href="{plink ':Admin:Pages:detail', id => $page->getId()}">{$page->getTitle()}</a>
            </td>
            <td class="w-25"> &nbsp;
                <a href="/{$page->getSlug()}" class="btn btn-default btn-xs" target="_blank"
                   title="Trvalý odkaz: {$settings['site:url:base']}/{$page->getSlug()}">
                    Náhled
                </a>
            </td>
            <td class="text-right w-25">
                {if $page->getPagesTypes()->getId() != 9}
                    <form action="{link delete! id => $page->getId(), type => $type}" method="post" style="display: inline;">
                        <input type="hidden" name="_csrf" value="{$csrfToken}">
                        <button type="submit" onclick="return confirm('Opravdu smazat?')"
                                class="btn btn-link text-danger p-0">
                            <i class="fa fa-times font-red"></i>
                        </button>
                    </form>
                {/if}

                <form action="{link public! id => $page->getId(), type => $type}" method="post" style="display: inline;">
                    <input type="hidden" name="_csrf" value="{$csrfToken}">
                    <button type="submit" class="btn btn-default btn-xs">
                    {if $page->getPublic() == 0}
                        <span title="Povolit">
                            <i class="fa fa-toggle-off"></i>
                        </span>
                    {else}
                        <span title="Zakázat">
                        <i class="fa fa-toggle-on"></i>
                    </span>
                    {/if}
                    </button>
                </form>
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
