<span n:attr="contenteditable => $inlineEditingEnabled ? 'true' : null, data-editor => $inlineEditingEnabled ? 'page_title' : null, data-editor-id => $inlineEditingEnabled ? $pageId : null">{$title}</span>
