<table class="table table-sm">
    <tbody>
    {foreach $pages as $page}
        <tr>
            <td class="w-50">
                <a href="{plink ':Admin:Pages:detail', id => $page->id}">{$page->title}</a>
            </td>
            <td class="w-25"> &nbsp;
                <a href="/{$page->slug}" class="btn btn-default btn-xs" target="_blank"
                   title="{_dictionary.main.Slug}: {$settings['site:url:base']}/{$page->slug}">
                    {_dictionary.main.Preview}
                </a>
            </td>
            <td class="text-right w-25">
                {if $page->pages_types->id != 9}
                    <a href="{link delete!, id => $page->id, type => $type}"
                       onclick="return confirm('Opravdu smazat?')" class="text-danger">
                        <i class="fa fa-times font-red"></i>
                    </a>
                {/if}

                <a href="{link public, 'id' => $page->id, type => $type}" class="btn btn-default btn-xs">
                    {if $page->public == 0}
                        <span title="Povolit">
                            <i class="fa fa-toggle-off"></i>
                        </span>
                    {else}
                        <span title="Zakázat">
                        <i class="fa fa-toggle-on"></i>
                    </span>
                    {/if}
                </a>
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>