{block #titles}{$catalogue->title} - {_dictionary.main.images|firstUpper}{/block}
{block content}

{include 'components/top-navigation.latte'}

<h1 class="page-header">{_dictionary.main.Contacts} - {$page->title}</h1>

{control dropZone, 1}

{control imageUpload, 1}

<h2>{_admin.catalogue.ProductGallery}</h2>

<div class="row">
    <div class="col-md-12">
        {control imageBrowser}
    </div>
</div>