{block #titles}{_dictionary.main.blog|firstUpper}: {_dictionary.main.detail|firstUpper}{/block}
{block content}

{include 'components/top-navigation.latte'}

<h1 class="page-header">{_dictionary.main.Blog} - {$page->title}</h1>

{control editor}