{if $enabled}
 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img alt="Brand" src="/images/admin/icon_caloris.png" style="height: 30px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/settings">{$settings['site:title']}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/menu">Menu</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Stránka</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{plink ':Admin:Pages:detail', id => $pageId}">stránku</a>
                        <a class="dropdown-item" href="{plink ':Admin:Pages:detailImages', id => $pageId}">obrázky</a>
                        <a class="dropdown-item" href="{plink ':Admin:Pages:detailFiles', id => $pageId}">soubory</a>
                        <a class="dropdown-item" href="{plink ':Admin:Pages:detailRelated', id => $pageId}">související</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{plink ':Admin:Sign:out', id => null}">Odhlásit</a>
                </li>
            </ul>
        </div>
    </nav>
{/if}