<div class="container">
    <div class="row">
        <div class="col-12">
            {control menu 2}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            &copy; {date('Y')} {$settings['site:title']}
        </div>
        <div class="col-md-4 text-right">
            powered by <a href="http://caloris.cz" target="_blank">Caloris</a>
        </div>
    </div>
</div>