<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-dm"
                    aria-expanded="false"
                    data-toggle="collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html">
                {if $settings['appearance:paths:logo']}
                    <img src="/images/paths/{$settings['appearance:paths:logo']}" alt="{$settings['site:title']}">
                {else}
                    {$settings['site:title']}
                {/if}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-dm">
            <div class="row">
                <p class="navbar-text navbar-right lang-cs">
                    <span>text</span>
                    <span>
                        <a href="{plink "this", locale => 'cs', (expand)$args}"
                           class="navbar-link"{if $langSelected == 'cs'} active{/if}>CS</a> |
                        <a href="{plink "this", locale => 'en', (expand)$args}"
                           class="navbar-link{if $langSelected == 'en'} active{/if}">EN</a>
                    </span>
                </p>
            </div>
            <div class="row">
                <hr style="margin: 10px 0 10px 250px;">
            </div>
            <div class="row">
                {control navbarMenu, 1, 'nav navbar-nav navbar-right'}
            </div>
        </div>
    </div>
</nav>