<div class="container">
    <div class="col-md-6">
        <a href="/">{$settings['site:title']}</a>
    </div>
    <div class="col-md-2">
        <div class="lang-box">
            <ul class="nav nav-pills navbar-right">
                <li{if $langSelected == 'cs'} class="active"{/if}>
                    <a href="{plink "this", locale => 'cs', (expand)$args}">cs</a></li>
                <li{if $langSelected == 'en'} class="active"{/if}>
                    <a href="{plink "this", locale => 'en', (expand)$args}">en</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <ul class="nav navbar-nav navbar-right">
                {if $user->loggedIn}
                    <li>
                        <a href="{plink ':Front:Profile:default'}"><strong>{if $member}{$member->username}{/if}</strong></a>
                    </li>
                    <li>
                        <a href="{plink ':Front:Sign:out'}"><i class="fa fa-sign-out"></i></a>
                    </li>
                {else}
                    <li>
                        <a href="{plink ':Front:Profile:default'}"><strong>{_dictionary.main.LoggingIn}</strong></a>
                    </li>
                    <li>
                        <a href="{plink ':Front:Sign:up'}">{_dictionary.main.SignUp}</a>
                    </li>
                {/if}
            </ul>
        </div>
    </div>
</div>
<div class="container">{control search}</div>
<div class="container">
    <nav class="navbar navbar-default top-nav navbar-0-space">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                menu <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">{control navbarMenu, 1}</div>
    </nav>
</div>