{if $enabled}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="/images/admin/icon_caloris.png" style="height: 24px;">
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{$settings['site:title']}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{plink ':AdminStore:Catalogue:default'}">{_dictionary.main.Catalogue}</a></li>
                    {if $page != false}
                        {if $page->pages_types_id == 1}
                            <li><a href="{plink ':Admin:Pages:detail', id => $page->id}">uprav</a></li>
                        {elseif $page->pages_types_id == 2}
                            <li><a href="{plink ':Admin:Blog:detail', id => $page->id}">uprav</a></li>
                        {elseif $page->pages_types_id == 3}
                            <li><a href="{plink ':Admin:Events:detail', id => $page->id}">uprav</a></li>
                        {elseif $page->pages_types_id == 4}
                            <li class="navbar-text">Blog: </li>
                            <li><a href="{plink ':AdminStore:Product:default', id => $page->id}">uprav</a></li>
                            <li><a href="{plink ':AdminStore:Product:images', id => $page->id}">obrázek</a></li>
                            <li><a href="{plink ':AdminStore:Product:stock', id => $page->id}">zásoby</a></li>
                        {elseif $page->pages_types_id == 6}
                            <li><a href="{plink ':Admin:Media:default', id => 6}">uprav</a></li>
                        {elseif $page->pages_types_id == 7}
                            <li><a href="{plink ':AdminStore:Categories:detail', id => $page->id}">uprav</a></li>
                        {/if}
                    {/if}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{plink ':Admin:Sign:out', id => null}">{_dictionary.main.logout}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{/if}