<div id="sorter-ids" class="hidden" data-images="{foreach $menu as $itemS}{$itemS->id}{sep},{/sep}{/foreach}"></div>


{var $category = 0}
{var $counter = 2}
<div class="tree">
    {block #menu}
        <ul>
            {foreach $menu as $item}
                <li id="j1_{$item->id}">
                    <a id="j1_{$item->id}_anchor"
                       href="{plink ':Admin:Menu:detail', id => $item->id}">{$item->title}</a>

                    {if $category != $item->parent_id}
                        {var $counter = 1}
                    {/if}
                    {php $selection = $item->related('menu','parent_id')->order('sorted')}
                    {if $selection->count() > 0}
                        {include #menu, menu => $selection}
                    {/if}
                    {var $category = $item->parent_id}
                </li>
            {/foreach}
        </ul>
    {/block}
</div>