<ul class="{$style}">
    {foreach $categories as $rowCategories}
        <li{if strcmp($rowCategories->url, $active) == 0} class="active-link"{/if}>
            <a href="{$rowCategories->url}">
                <span>{$rowCategories->title}</span>
            </a>
        </li>
    {/foreach}
</ul>