<ul class="{$style}">
    {foreach $categories as $rowCategories}
        <li{if strcmp($langPrefix.$rowCategories->{'url'.$langSuffix}, $active) == 0} class="active"{/if}>
            <a href="{$langPrefix.$rowCategories->{'url'.$langSuffix}}">
                {var $title = 'title'.$langSuffix}
                <span>{$rowCategories->{$title}}</span>
            </a>
        </li>
    {/foreach}
</ul>