<ul class="{$style}">
    {foreach $categories as $row}
        <li class="nav-item{if strcmp($langPrefix.$row->{'url'.$langSuffix}, $active) == 0} active{/if}">
            <a href="{$langPrefix.$row->{'url'.$langSuffix}}" class="nav-link">
                {var $title = 'title'.$langSuffix}
                <span>{$row->{$title}}</span>
            </a>
        </li>
    {/foreach}
</ul>