<table class="table">
    {foreach $menu as $item}
        <tr>
            <td><a href="{plink ':Admin:Menu:default', menu => $item->id}">{$item->title}</a></td>
            <td><a href="{plink ':Admin:Menu:menu', id => $item->id}" class="btn btn-info btn-sm pull-right">Upravit</a></td>
        </tr>
    {/foreach}
</table>
