{block #titles}Store - Bonusy{/block}
{block content}
<br />

<h1 class="page-header">Bonusy</h1>

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Vytvořit bonus
            </div>
            <div class="panel-body">
                {control insertForm}
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        {control bonusGrid}
    </div>
</div>

