{form insertForm}
    {input parent value => $categoryId}
    <div class="form-group">
        <label class="col-sm-3 control-label">{label title /}</label>
        <div class="col-sm-9">{input title}</div>
    </div>
    </div>
    <div class="modal-footer">
{input submitm}
{/form}