{var $name = $presenter->getView()}
<div class="panel panel-default">
    <div class="panel-heading">
        <table class="table">
            {foreach $menuList as $item}
                <tr>
                    <td><a href="{plink ':Admin:Pricelist:default', pricelist => $item->id}">{$item->title}</a></td>
                    <td class="w-10"><a href="{link generatePdf!}" class="btn btn-success btn-sm"><i class="fa fa-file-pdf-o"></i> PDF</a></td>
                    <td class="w-10"><a href="{plink ':Admin:Pricelist:menu', id => $item->id}" class="btn btn-info btn-sm pull-right">{_dictionary.main.edit}</a></td>
                </tr>
            {/foreach}
        </table>

    </div>
    <div class="panel-body">
        <div id="sorter-ids" class="hidden"
             data-images="{foreach $menu as $itemS}{$itemS->id}{sep},{/sep}{/foreach}"></div>
        <div class="tree">
            {var $category = 0}
            {var $counter = 2}
            {block #menu}
                <ul>
                    {foreach $menu as $item}
                        <li id="j1_{$item->id}">
                            <a id="j1_{$item->id}_anchor"
                               href="{plink ':Admin:Pricelist:detail', id => $item->id}">{$item->title}</a>

                            {var $categoryCount = $database->table('pricelist_categories')->where('parent_id', $item->parent_id)->count()}
                            {if $category != $item->parent_id}
                                {var $counter = 1}
                            {/if}
                            {php $selection = $item->related('pricelist_categories','parent_id')->order('sorted')}
                            {if $selection->count() > 0}
                                {include #menu, menu => $selection}
                            {/if}
                            {var $category = $item->parent_id}
                        </li>
                    {/foreach}
                </ul>
            {/block}
        </div>
    </div>
</div>