{var $name = $presenter->getView()}
<div class="panel panel-default">
    <div class="panel-heading">
        Kategorie
        <button type="button" class="btn btn-default pull-right btn-xs" data-toggle="modal" data-target="#catModal{$idr}">
            Vložit kategorii
        </button>         
        <a href="{plink $name, (expand) $args, id => null}" class="btn btn-default {if !$idActive}btn-outline {/if}btn-xs pull-right">Všechny kategorie</a> 

    </div>
    <div class="panel-body">
        <div class="tree">
            <div class="modal fade" id="catModal{$idr}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {form insertCategoryForm}
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Vložit podkategorii
                                </h4>
                            </div>
                            <div class="modal-body">
                                {input parent_id value => $id}
                                {input type value => $type}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{label title /}</label>
                                    <div class="col-sm-9">{input title}</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    {_dictionary.main.close|firstUpper}
                                </button>
                                {input submitm}
                            </div>
                        {/form}
                    </div>
                </div>
            </div>

            <ul class="is-minus">
                {foreach $menu as $item}
                    <li><span><i class="fa fa-folder"></i></span>
                        <button type="button"
                                class="btn btn-default btn-xs tool-tip" data-toggle="modal" data-target="#catModal{$item->id}" title="Přidat podkategorii">
                            <i class="fa fa-plus"></i>
                        </button>
                        <a href="{plink ':Admin:Categories:detail', (expand) $args, id => $item->id}" class="btn btn-default btn-xs"><i class="fa fa-edit"></i></a>
                        <a href="{plink $name, (expand) $args, id => $item->id}">{if $idActive == $item->id}<strong>{/if}{$item->title}{if $idActive == $item->id}</strong>{/if}</a>
                        <div class="modal fade" id="catModal{$item->id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    {form insertCategoryForm}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                Vložit kategorii
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            {input parent_id value => $item->id}
                                            {input type value => $type}
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">{label title /}</label>
                                                <div class="col-sm-9">{input title}</div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                {_dictionary.main.close|firstUpper}
                                            </button>
                                            {input submitm}
                                        </div>
                                    {/form}
                                </div>
                            </div>
                        </div>
                        {? $selection = $item->related('pricelist_categories','parent_id')}
                        {if $selection->count() > 0}
                            {include #menu, menu => $selection}
                        {/if}
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>