{var $name = $presenter->getView()}
<div class="panel panel-default">
    <div class="panel-heading">
        <table class="table">
            {foreach $menuList as $item}
                <tr>
                    <td><a href="{plink ':Admin:Pricelist:default', pricelist => $item->id}">{$item->title}</a></td>
                    <td class="text-right">
                        <a href="{plink ':Admin:Pricelist:menu', pricelist => $item->id}" class="btn btn-info btn-sm">{_dictionary.main.edit}</a>
                        <a href="{link generatePdf!, pricelist => $item->id}" class="btn btn-success btn-sm"><i class="fa fa-file-pdf-o"></i> PDF</a>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>
</div>