{block content}
[
{foreach $events as $item}
{
"title": "{$item->pages->title}",
"allday": "{if $item->all_day}true{else}false{/if}",
"borderColor": "#820F20",
"color": "#A6113C",
"textColor": "#ffffff",
"description": "{$item->pages->document}",
"start": "{$item->date_event|date:'Y-m-d'}T{$item->date_event|date:'H:i:s'}",
"end": "{$item->date_event_end|date:'Y-m-d'}T{$item->date_event_end|date:'H:i:s'}",
"url": "detail/{$item->pages->id}"
}{sep},{/sep}
{/foreach}
]