navigation:
    categories: "Kategorie"
    catalogue: "Katalog"
    files: "Soubory"
    homepage: "Homepage"
    gallery: "Galerie"
    logout: "Odhlásit"
    members: "Členové"
    pages: "Stránky"
    myprofile: "Můj profil"
homepage:
    welcome: "Vítejte"
catalogue:
    deletereallymessage: "Opravdu smazat tento parametr?"
    ListOfBrands: "Seznam značek"
    ProductCatalogue: "Katalog výrobků"
    ProductGallery: "Galerie výrobku"
categories:
    NothingRelated: "Nemá propojenou kategorii"
    PageSelectedManually: "Stránka zvolena manuálně"
    RelatedCategory: "Navazující kategorie"
    SelectPage: "Vybrat stránku"
pages:
    name: "Název"
files:
    choosefile: "Vyberte soubor"
    filemanager: "Souborový manažer"
    filename: "Název souboru"
    listoffiles: "Seznam souborů"
    sizeinkb: "Velikost (in kB)"
    thumbnail: "Náhled"
    upload: "Nahrát"
settings:
    whenUsedInTemplate: "Při použití v šabloně"
