main:
	address: "adresa"
	Address: "Adresa"
	addresses: "adresy"
	blog: "blog"
	Blog: "Blog"
	city: "město"
	City: "Město"
	Company: "Společnost"
	CompanyInformation: "Informace o společnosti"
	Confirm: "Potvrdit"
	concept: "koncept"
	contact: "kontakt"
	Contact: "Kontakt"
	ContactInformation: "Kontaktní informace"
	contacts: "kontakty"
	Contacts: "Kontakty"
	Create: "Vytvořit"
	created: "vytvořeno"
	daily: "denní"
	date: "datum"
	Date: "Datum"
	DayOfTheWeek: "Den v týdnu"
	detail: "detail"
	Detail: "Detail"
	disabled: "povolen"
	DoAction: "Proveď"
	edit: "upravit"
	Edit: "Upravit"
	email: "e-mail"
	file: "soubor"
	File: "Soubor"
	FileType: "Typ souboru"
	Files: "Soubory"
	gallery: "galerie"
	Gallery: "Galerie"
	Galleries: "Galerie"
	group: "skupina"
	Group: "Skupina"
	groups: "skupiny"
	Image: "Obrázek"
	images: "obrázky"
	IPAddress: "IP adresa"
	Items: "Položky"
	links: "odkazů"
	media: "media"
	Media: "Media"
	message: "zpráva"
	Message: "Zpráva"
	MoreImages: "Více obrázků"
	name: "jméno"
	Name: "Jméno"
	NewContact: "Nový kontakt"
	NewPage: "Nová stránka"
	next: "další"
	Next: "Další"
	Notes: "Poznámky"
	Page: "Stránka"
	PagePreview: "Náhled stránky"
	phone: "telefon"
	Phone: "Telefon"
	Place: "Místo"
	Post: "Pozice"
	Preview: "Náhled"
	previous: "předchozí"
	Previous: "Předchozí"
	published: "publikováno"
	ResetFilter: "Vynulovat filtr"
	search: "hledat"
	Search: "Hledat"
	show: "ukázat"
	Show: "Ukázat"
	shortDescription: "Krátký popisek"
	size: "velikost"
	Size: "Velikost"
	street: "ulice"
	Street: "Ulice"
	Subject: "Předmět"
	title: "název"
	Title: "Název"
	User: "Uživatel"
	view: "pohled"
	VAT: "DPH"
	VatId: "DIČ"
	VatIn: "IČ"
	View: "Prohlédnout"
	ZIP: "PSČ"