main:
    address: "adresa"
    addresses: "addresses"
    amount: "množství"
    blog: "blog"
    brand: "značka"
    brands: "Značky"
    cart: "košík"
    catalogue: "katalog"
    categories: "kategorie"
    category: "kategorie"
    choose: "vybrat"
    city: "město"
    close: "zavřít"
    concept: "koncept"
    contact: "kontakt"
    contacts: "kontakty"
    continue: "pokračovat"
    created: "vytvořeno"
    date: "datum"
    delete: "delete"
    description: "Popisek"
    detail: "detail"
    edit: "upravit"
    email: "e-mail"
    ForgottenPassword: "Forgotten password"
    gallery: "galerie"
    group: "skupina"
    groups: "skupiny"
    images: "obrázky"
    insert: "vložit"
    InsertProduct: "Vložit výrobek"    
    ListOfBrands: "Seznam značek"
    logout: "odhlásit"
    member: "člen"
    members: "členové"
    message: "zpráva"
    name: "jméno"
    open: "otevřít"
    order: "objednávka"
    orders: "Objednávky"
    parameter: "Parametr"
    parametres: "parametry"
    Payments: "Platby"
    phone: "telefon"
    price: "cena"
    profile: "profil"
    save: "uložit"
    search: "hledat"
    settings: "nastavení"
    Shipping: "Poštovné"
    show: "ukázat"
    signup: "registrace"
    state: "stav"
    stock: "zásoby"
    street: "ulice"
    title: "název"
    total: "celkem"
    value: "hodnota"
    view: "view"
    VAT: "DPH"
    ZIP: "PSČ"