days:
    Monday: "Monday"
    Tuesday: "Tuesday"
    Wednesday: "Wednesday"
    Thursday: "Thursday"
    Friday: "Friday"
    Saturday: "Saturday"
    Sunday: "Sunday"
months:
    January: "January"
    February: "February"
    March: "March"
    April: "April"
    May: "May"
    June: "June"
    July: "July"
    August: "August"
    September: "September"
    October: "October"
    November: "November"
    December: "December"
sorting:
    new: "by newest"
    old: "by oldest"
    cheap: "by price (lowest)"
    expensive: "by price (highest)"
    az: "A - Z"
    za: "Z - A"
main:
    address: "adress"
    Address: "Adress"
    addresses: "addresses"
    AddToCart: "Add to Cart"
    AllDayEvent: "All day event"
    Amount: "Amount"
    Appearance: "Appearance"
    BillingAddress: "Billing Address"
    blog: "blog"
    Blog: "Blog"
    Bonus: "Bonus"
    Brand: "Brand"
    brand: "brand"
    brands: "Brands"
    Calendar: "Calendar"
    cart: "cart"
    Cart: "Cart"
    catalogue: "catalogue"
    Catalogue: "Catalogue"
    categories: "categories"
    category: "category"
    Category: "Category"
    Categories: "Categories"
    choose: "choose"
    Choose: "Choose"
    city: "city"
    City: "City"
    Change: "Change"
    ChangeStatistics: "Change Stats"
    ChooseAGift: "Choose a gift"
    close: "close"
    Close: "Close"
    Company: "Company"
    concept: "concept"
    Confirm: "Confirm"
    contact: "contact"
    Contact: "Contact"
    ContactInformation: "Contact information"
    contacts: "contacts"
    Contacts: "Contacts"
    continue: "continue"
    Continue: "Continue"
    ContinueShopping: "Continue shopping"
    Create: "Vytvořit"
    created: "created"
    CreateNewAccount: "Create new account"
    CreateNewContact: "Create new contact"
    daily: "daily"
    date: "date"
    Date: "Date"
    DateEventStarted: "Event start"
    DateEventEnded: "Event end"
    DayOfTheWeek: "Day of the Week"
    delete: "delete"
    Delete: "Delete"
    DeliveryAddress: "Delivery Address"
    description: "description"
    Description: "Description"
    detail: "detail"
    Detail: "Detail"
    disabled: "disabled"
    DoAction: "Do"
    document: "document"
    Document: "Document"
    documents: "documents"
    Documents: "Documents"
    edit: "edit"
    Edit: "Edit"
    email: "e-mail"
    Email: "e-mail"
    Emails: "E-mails"
    enabled: "enabled"
    Event: "Event"
    Events: "Events"
    file: "file"
    File: "File"
    FileType: "FileType"
    Files: "Files"
    from: "from"
    FullDescription: "Full description"
    ForgottenPassword: "Forgotten password"
    gallery: "gallery"
    Gallery: "Gallery"
    Galleries: "Galleries"
    group: "group"
    Group: "Group"
    GroupActions: "Group actions"
    groups: "groups"
    Helpdesk: "Helpdesk"
    icon: "icon"
    Icon: "Icon"
    icons: "icons"
    Icons: "Icons"
    Image: "Image"
    images: "images"
    Images: "Images"
    insert: "insert"
    Insert: "Insert"
    InsertCategory: "Insert category"
    InsertCity: "Insert city"
    InsertEmail: "Insert e-mail"
    InsertFile: "Insert file"
    InsertImage: "Insert image"
    InsertName: "Insert name"
    InsertParameter: "Insert parameter"
    InsertPhone: "Insert phone"
    InsertProduct: "Insert product"
    InsertVatIn: "Insert VAT identifier"
    InsertVatId: "Insert VAT ID"
    InsertZip: "Insert ZIP"
    IPAddress: "IP address"
    Items: "Items"
    links: "links"
    Links: "Links"
    ListOfBrands: "List of Brands"
    login: "login"
    Login: "Login"
    LoggingIn: "Logging in"
    logout: "logout"
    media: "media"
    Media: "Media"
    member: "member"
    Member: "Member"
    members: "members"
    Members: "Members"
    message: "message"
    Message: "Message"
    MetaTags: "Meta tags"
    MetaKeys: "Meta keywords"
    MetaDesc: "Meta description"
    monthly: "monthly"
    MoreImages: "More images"
    name: "name"
    Name: "Name"
    next: "next"
    NewContact: "New contact"
    NewPage: "New page"
    Next: "Next"
    NoName: "Nemá název"
    Notes: "Notes"
    open: "open"
    OpeningHours: "OpeningHours"
    order: "order"
    OrderStatistics: "Order Stats"
    orders: "orders"
    Orders: "Orders"
    PageGraphics: "Page graphics"
    PagePreview: "Page Preview"
    parameter: "parameter"
    parametres: "parametres"
    Parameter: "Parameter"
    Parametres: "Parametres"
    Password: "Password"
    Payment: "Payment"
    Payments: "Payments"
    phone: "phone"
    Phone: "Phone"
    post: "Post"
    Preview: "Preview"
    previous: "previous"
    Previous: "Previous"
    price: "price"
    Price: "Price"
    Pricelist: "Price list"
    profile: "profile"
    ProceedToCheckout: "Proceed to checkout"
    ProductTitle: "Product title"
    published: "published"
    PublishedForm: " published"
    publishingDate: "Publishing date"
    RelatedProducts: "Related products"
    Remove: "Remove"
    ResetFilter: "Reset filter"
    Role: "Role"
    save: "save"
    Sales: "Sales"
    Save: "Save"
    search: "search"
    Search: "Search"
    Send: "Send"
    settings: "settings"
    Settings: "Settings"
    Shipping: "Shipping"
    ShippingAndPayment: "Shipping and payment"
    shortDescription: "Short description"
    show: "whow"
    signup: "Sign Up"
    SignUp: "Sign up"
    size: "size"
    Size: "Size"
    Slug: "Slug"
    Snippets: "Snippets"
    Sort: "Sort"
    Store: "Store"
    state: "state"
    State: "State"
    stock: "stock"
    street: "street"
    Street: "Street"
    Subject: "Subject"
    SummaryAndOrderCompletion: "Summary and order completion"
    title: "title"
    Title: "Title"
    total: "total"
    Total: "Total"
    Turnovers: "Turnovers"
    URL: "URL"
    User: "User"
    UserName: "User name"
    value: "value"
    Value: "Value"
    view: "view"
    VAT: "VAT"
    VatId: "VAT ID"
    VatIn: "Identification number"
    View: "View"
    VisitTheWeb: "Navštivte web"
    Weight: "Weight"
    ZIP: "ZIP"