main:
	address: "address"
	Address: "Address"
	addresses: "addresses"
	blog: "blog"
	Blog: "Blog"
	city: "city"
	City: "City"
	Company: "Company"
	CompanyInformation: "Company Information"
	Confirm: "Confirm"
	concept: "concept"
	contact: "contact"
	Contact: "Contact"
	ContactInformation: "ContactInformation"
	contacts: "contacts"
	Contacts: "Contacts"
	Create: "Create"
	created: "created"
	daily: "daily"
	date: "date"
	Date: "Date"
	DayOfTheWeek: "Day of the Week"
	detail: "detail"
	Detail: "Detail"
	disabled: "disabled"
	DoAction: "Do"
	edit: "edit"
	Edit: "Edit"
	email: "e-mail"
	file: "file"
	File: "File"
	FileType: "File type"
	Files: "Files"
	gallery: "gallery"
	Gallery: "Gallery"
	Galleries: "Galleries"
	group: "group"
	Group: "Group"
	groups: "groups"
	Image: "Image"
	images: "images"
	IPAddress: "IP address"
	Items: "Items"
	links: "links"
	media: "media"
	Media: "Media"
	message: "message"
	Message: "message"
	MoreImages: "More images"
	name: "name"
	Name: "Name"
	NewContact: "New contact"
	NewPage: "New page"
	next: "next"
	Next: "next"
	Notes: "Notes"
	Page: "Page"
	PagePreview: "Page Preview"
	phone: "phone"
	Phone: "Phone"
	Place: "Place"
	Post: "Post"
	Preview: "Preview"
	previous: "previous"
	Previous: "Previous"
	published: "published"
	ResetFilter: "Reset filter"
	search: "search"
	Search: "Search"
	show: "show"
	Show: "Show"
	shortDescription: "Short description"
	size: "size"
	Size: "Size"
	Sort: "Sort"
	street: "street"
	Street: "Street"
	Subject: "Subject"
	title: "title"
	Title: "Title"
	view: "view"
	VAT: "VAT"
	VatId: "VAT ID"
	VatIn: "Identification Number"
	View: "View"
	ZIP: "ZIP"