main:
	Blog: "Blog"
	Contact: "Contact"
	Contacts: "Contacts"
	email: "e-mail"
	gallery: "gallery"
	Gallery: "Gallery"
	Image: "Image"
	images: "images"
	Media: "Media"
	Message: "message"
	MoreImages: "More images"
	Name: "Name"
	Search: "Search"
	ZIP: "ZIP"