main:
	Blog: "Blog"
	Contact: "Kontakt"
	Contacts: "Kontakty"
	email: "e-mail"
	gallery: "galerie"
	Gallery: "Galerie"
	Image: "Obrázek"
	images: "obrázky"
	Media: "Media"
	Message: "Zpráva"
	MoreImages: "Více obrázků"
	Name: "Jméno"
	Search: "Hledat"
	ZIP: "PSČ"