events:
	DateWasNotSet: "Datum dosud nebylo stanoveno"
navigation:
	about: "O nás"
helpdesk:
	name: "Jméno"
	email: "E-mail"
	phone: "Telefon"
	message: "Zpráva"
	request: "Poptávka"
	send: "Odeslat"
members:
	sendLoginEmail: "odeslat e-mail s přihlašovacími informacemi"
	memberAlreadyExists: "Člen již existuje"
	emailAlreadyExists: "Člen s tímto e-mailem již existuje"
	invalidEmailFormat: "Napište správný formát e-mailu"
	PermissionDenied: "Nemáte oprávnění"
pages:
	NameThePage: "Zadejte název stránky"
sign:
	agreeWithConditions: "Souhlasím s podmínkami"
	descriptionSymbolsEnabled: "Povoleny jsou pouze znaky a-z, 0-9 (pouze malá písmena)"
	emailAlreadyExists: "E-mail již existuje"
	emailNotSent: "E-mail nebyl odeslán"
	enterEmailForCheck: "Zadejte prosím heslo ještě jednou pro kontrolu"
	enterUserNameMinimum: "Zvolte uživatelské jméno s alespoň %d znaky"
	enterUsernameMaximum: "Zvolte uživatelské jméno s nejvýše %d znaky"
	enterPasswordMinimum: "Zvolte heslo s alespoň %d znaky"
	enterPasswordMaximum: "Zvolte heslo s nejvýše %d znaky"
	enterValidEmail: "Zadejte platný e-mail"
	enterValidName: "Zadejte jméno"
	enterValidStreet: "Zadejte ulici"
	enterValidCity: "Zadejte město"
	enterValidPassword: "Zadejte platné heslo"
	enterValidUserName: "Zadejte platné uživatelské jméno"
	enterValidZip: "Zadejte PSČ"
	fillInEmail: "Vyplňte e-mail"
	invalidLogin: "Musíte se přihlásit"
	logged-out: "Byli jste odhlášeni"
	mustAgreeConditions: "Pro pokračování zaškrtněte Souhlasím s podmínkami"
	newsletterCheck: "Chci odebírat zprávy?"
	no-access: "Nemáte oprávnění vstupu do administrace"
	NotFound: "Nenalezeno"
	passwords-not-same: "Hesla se neshodují"
	signupSuccessfulCanLogin: "Vaše registrace proběhla úspěšně. Po ověření se můžete přihlásit."
	signupSuccessfulLoginWhenVerified: "Registrace byla dokončena. Po ověření Vám bude zaslán e-mail, po kterém se můžete přihlásit"
	thanksForMessage: "Děkujeme a Vaši zprávu"
	userNameAlreadyExists: "Uživatelské jméno již existuje"
error:
	invalidTypeOfImage: "Neplatný typ obrázku"
	CannotBeDeleted: "Nelze smazat"
	CantDeleteMainGroup: "Nemůžete vymazat hlavní skupinu"
	categoryAlreadyExists: "Kategorie tohoto jména již existuje"
	categoryMustHaveSomeName: "Kategorie musí mít nějaký název"
	fillInName: "Vyplňte Vaše skutečné jméno"
	fillInEmail: "Vyplňte e-mail"
	fillInMessage: "Vyplňte zprávu"
	MustAgreeWithConditions: "Musíte souhlasit s obchodními podmínkami, abyste mohli dokončit objednávku"
	NoItemsBoughtYet: "Zatím jste nekoupili žádné zboží"
	noPermissionForAdmin: "Nemáte oprávnění vstoupit do administrace"
	NotFound: "Nebylo nalezeno"
	youWereLoggedIn: "Byli jste odhlášen"