events:
    DateWasNotSet: "Datum dosud nebylo stanoveno"
navigation:
    about: "O nás"
helpdesk:
    name: "Jméno"
    email: "E-mail"
    phone: "Telefon"
    message: "Zpráva"
    request: "Poptávka"
    send: "Odeslat"
members:
    sendLoginEmail: "odeslat e-mail s přihlašovacími informacemi"
    memberAlreadyExists: "Člen již existuje"
    emailAlreadyExists: "Člen s tímto e-mailem již existuje"
    invalidEmailFormat: "Napište správný formát e-mailu"
    PermissionDenied: "Nemáte oprávnění"
sign:
    no-access: "Nemáte oprávnění vstupu do administrace"
    logged-out: "Byli jste odhlášeni"
    passwords-not-same: "Hesla se neshodují"
    thanksForMessage: "Děkujeme a Vaši zprávu"
    invalidLogin: "Musíte se přihlásit"
error:
    invalidTypeOfImage: "Neplatný typ obrázku"
    CannotBeDeleted: "Nelze smazat"
    CannotBeDeletedUsedInOrders: "Nelze smazat. Je používáno v objednávkách. Můeže jej však skrýt"
    CantDeleteMainGroup: "Nemůžete vymazat hlavní skupinu"
    categoryAlreadyExists: "Kategorie tohoto jména již existuje"
    categoryMustHaveSomeName: "Kategorie musí mít nějaký název"
    fillInName: "Vyplňte Vaše skutečné jméno"
    fillInEmail: "Vyplňte e-mail"
    fillInMessage: "Vyplňte zprávu"
    MustAgreeWithConditions: "Musíte souhlasit s obchodními podmínkami, abyste mohli dokončit objednávku"
    NoItemsBoughtYet: "Zatím jste nekoupili žádné zboží"
    NoItemsInCart: "Nemáte žádné položky v košíku"
    noPermissionForAdmin: "Nemáte oprávnění vstoupit do administrace"
    NotFound: "Nebylo nalezeno"
    youWereLoggedIn: "Byli jste odhlášeni"