events:
	DateWasNotSet: "Date was not set yet"
navigation:
	about: "About us"
helpdesk:
	name: "Name"
	email: "E-mail"
	phone: "Phone"
	message: "Message"
	request: "Request"
	send: "Send"
members:
	sendLoginEmail: "send e-mail with login information"
	memberAlreadyExists: "Member already exists"
	emailAlreadyExists: "Member with this e-mail already exists"
	invalidEmailFormat: "Enter correct e-mail"
	PermissionDenied: "Permission denied"
pages:
	NameThePage: "Name the page"
sign:
	agreeWithConditions: "I agree with terms and conditions"
	descriptionSymbolsEnabled: "Only a-z, 0-9 characters allowed"
	emailAlreadyExists: "E-mail already exists"
	emailNotSent: "E-mail not sent"
	enterEmailForCheck: "Please enter your password again"
	enterUserNameMinimum: "Choose a user name with at least %d characters"
	enterUsernameMaximum: "Choose a user name with a maximum of %d characters"
	enterPasswordMinimum: "Choose a password with at least %d characters"
	enterPasswordMaximum: "Choose a password with at least %d characters"
	enterValidEmail: "Enter valid e-mail"
	enterValidName: "Enter valid name"
	enterValidStreet: "Enter street"
	enterValidCity: "Enter valid city"
	enterValidPassword: "Enter valid password"
	enterValidUserName: "Enter valid user name"
	enterValidZip: "Enter PSČ"
	fillInEmail: "You need to log in"
	invalidLogin: "Invalid login"
	logged-out: "You were logged out"
	NotFound: "Not Found"
	passwords-not-same: "Passwords are not same"
	signupSuccessfulCanLogin: "Your registration was successful. After e-mail verification, you can sign."
	signupSuccessfulLoginWhenVerified: "Sign up successfuly completed. you will receive e-mail when verified and you can then sign"
	thanksForMessage: "Děkujeme za Vaši zprávu"
	userNameAlreadyExists: "User name already exists"
error:
	invalidTypeOfImage: "Invalid type of image"
	CannotBeDeleted: "Cannot be deleted"
	CantDeleteMainGroup: "You can't delete main group"
	categoryAlreadyExists: "Category with this name already exists"
	categoryMustHaveSomeName: "Category must have some name"
	fillInName: "Fill in your name"
	fillInEmail: "Fill in your e-mail"
	fillInMessage: "Fill in your message"
	MustAgreeWithConditions: "You must agree with conditions to finish the order"
	NoItemsBoughtYet: "You haven't bought any items"
	noPermissionForAdmin: "You don't have permission to enter admnistration"
	NotFound: "Not found"
	youWereLoggedIn: "You were logged in"