cart:
    add: "Přidat do košíku"
    pricePerPiece: "Cena za kus"
    priceWithVAT: "Cena s DPH"
forms:
    TheseItemsAreRequired: "takto označené položky jsou povinné"
order:
    BillingAddress: "Fakturační adresa"
    ChooseShipping: "Vyberte způsob dopravy"
    ChoosePayment: "Vyberte způsob platby"
    ClickToChooseAddress: "Kliknutím vyberete adresu"
    ContactInformation: "Kontaktní informace"
    CreateNewAddress: "Vytvořte novou adresu"
    DeliveryAddress: "Adresa doručení"
    OrderSummary: "Shrnutí objednávky"
profile:
    ProfileImage: "Profilový obrázek"
    PasswordChange: "Změna hesla"
stock:
    ItemsStored: "Položek na skladě"