cart:
    add: "Přidat do košíku"
order:
    ChooseShipping: "Vyberte způsob dopravy"
    ChoosePayment: "Vyberte způsob platby"
    ClickToChooseAddress: "Kliknutím vyberete adresu"
    CreateNewAddress: "Create new address"
    DeliveryAddress: "Adresa doručení"