no_item_found_reset: "Žádné položky nenalezeny. Resetujte filtr"
no_item_found: "Žádné položky nealezeny."
here: "zde"
items: "Položky"
all: "vše"
from: "z"
reset_filter: "Resetujte filtr"
group_actions: "Hromadné akce"
show: "Ukaž"
add: "Přidat"
edit: "Upravit"
show_all_columns: "Zobrazit všechny sloupce"
show_default_columns: "Zobrazit defaultní sloupce"
hide_column: "Skrýt sloupec"
action: "Akce"
previous: "Předchozí"
next: "Další"
choose: "Vyber"
choose_input_required: "Text hromadné akce nemůže být prázdný"
execute: "Vykonat"
save: "Uložit"
cancel: "Zrušit"
multiselect_choose: "Vybrat"
multiselect_selected: "{0} vybráno"
filter_submit_button: "Filtrovat"