no_item_found_reset: "No items found. You can reset the filter"
no_item_found: "No items found."
here: "here"
items: "Items"
all: "all"
from: "from"
reset_filter: "Reset filter"
group_actions: "Group actions"
show: "Show"
add: "Add"
edit: "Edit"
show_all_columns: "Show all columns"
show_default_columns: "Show default columns"
hide_column: "Hide column"
action: "Action"
previous: "Previous"
next: "Next"
choose: "Choose"
choose_input_required: "Group action text not allow empty value"
execute: "Execute"
save: "Save"
cancel: "Cancel"
multiselect_choose: "Choose"
multiselect_selected: "{0} selected"
filter_submit_button: "Filter"