{var $robots = noindex}

{block content}

<div class="panel-heading">
    <h3 n:block="title" class="panel-title">Přihlášení uživatele</h3>
</div>
<div class="panel-body">


    {control signInForm}
</div>