{var $robots = noindex}

{block content}

<div class="panel-heading">
    <h3 n:block="title" class="panel-title">{_dictionary.main.login|firstUpper}</h3>
</div>
<div class="panel-body">
    {foreach $flashes as $flash}
        <br />
        <div class="flash {$flash->type}">{$flash->message}</div>
        <br />
    {/foreach}

    {control signIn, 'admin'}
    <br>
    <p><a n:href=":Admin:Sign:lostpass">{_dictionary.main.ForgottenPassword}</a></p>
</div>