{block #titles}Vytvoření nového hesla{/block}
{block content}

<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {foreach $flashes as $flash}
                    <br/>
                    <div class="flash {$flash->type} text-center">{$flash->message}</div>
                    <br/>
                {/foreach}

                <div class="card-group mb-0">
                    <div class="card p-2">
                        <div class="card-block">
                            <h1 n:block="title">Vytvoření nového hesla</h1>

                            <p class="text-muted">Použijte alespoň 8 znaků. Odkaz platí jednu hodinu a lze jej použít pouze jednou.</p>
                            {control resetPass}
                            <noscript>Pro načtení odkazu zapněte JavaScript a otevřete odkaz z e-mailu znovu.</noscript>
                            <script>
                            (function () {
                                var fragment = window.location.hash;
                                if (fragment.indexOf('#reset=') === 0) {
                                    var token = fragment.substring(7);
                                    var field = document.querySelector('[data-reset-token]');
                                    if (field && /^[1-9][0-9]*\.[a-f0-9]{64}$/.test(token)) {
                                        field.value = token;
                                    }
                                    window.history.replaceState(null, '', window.location.pathname);
                                }
                            })();
                            </script>

                            {control lostPass}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
