{block #titles}{_dictionary.main.Contacts}{/block}
{block content}

{control pageTopMenu}

<h1 class="page-header">{_dictionary.main.Contacts} - {$page->title}</h1>

{foreach $flashes as $flash}
    <br />
    <div class="flash {$flash->type}">{$flash->message}</div>
    <br />
{/foreach}

{control loadVat}

{control editContact}