{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html lang="{$langSelected}">
<head>
    {control head $pageId}
</head>
<body>
{control adminBar}

<header>
    {control navigation}
</header>

{include content}

<footer>
    {control footer}
</footer>

<script src="{$baseUri}/js/kea-front.js" type="text/javascript"></script>

</body>
</html>