{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html lang="{$langSelected}">
<head>
    {control head $slugArray}
    {if $inlineEditingEnabled}<meta name="inline-csrf" content="{$inlineCsrfToken}">{/if}
</head>
{var $pageSlug = (string) $page->slug}
{var $isHomepage = $pageSlug === ''}
{var $isPrivacyPolicy = $pageSlug === 'privacy-policy' || substr($pageSlug, -15) === '-privacy-policy'}
{var $isStandalone = $isHomepage || $isPrivacyPolicy}
<body class="caloris-body{if $isStandalone} caloris-body--standalone{/if}">
<div class="caloris-layout d-flex flex-column{if $isHomepage} caloris-layout--profile{elseif $isPrivacyPolicy} caloris-layout--policy{/if}">
    {if $settings['social:fb:enabled']}
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.7";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    {/if}
    {control adminBar}
    {if !$isStandalone}
        <header>
            {control navigation}
        </header>
    {/if}

    <main class="page page-{$pageSlug}{if $isHomepage} caloris-page--profile{elseif $isPrivacyPolicy} caloris-page--policy{/if}">
        {include content}

        <div class="push"></div>
    </main>

    {if !$isStandalone}
        {control footer}
    {/if}

    <script src="/js/all-front.js" type="text/javascript"></script>
    <script src="/js/all-front-custom.js" type="text/javascript"></script>

    <script>
        $('#carousel-example-generic').carousel();
    </script>

</div>
</body>
</html>
