Welcome to %title% %br%
%br%
Account verification:%br%
%verify-address%%br%
%br%%br%
Here is login information:%br%
Address: %login-address%%br%
User name: %username%%br%
Password: %password%%br%
%br%
In case of any question feel free to ask at %email%%br% 