{block content}

<div class="container heading">
    <h1>{control pageTitle $page}</h1>
</div>

<div class="container white padded-top padded-btm">
    <div class="col-md-8">
        <table class="table">
            {foreach $folders as $item}
                <tr>
                    <td>
                        <a href="/{$item->slug}">{$item->title}</a>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>
</div>