{foreach $links as $item}
    <div class="col-xs-6 col-md-2 text-center">
        <img src="/links/{$item->id}.jpg" class="img-responsive img-responsive-centered" alt="{$item->title}">
    </div>
{/foreach}