<nav class="nav flex-column text-left">
    <a href="{control pageSlug 8}"{if $pageId == 8} class="active"{/if}>{_store.order.ContactInformation}</a>
    <a href="{control pageSlug 9}"{if $pageId == 9} class="active"{/if}>{_store.profile.ProfileImage}</a>
    <a href="{control pageSlug 10}"{if $pageId == 10} class="active"{/if}>{_store.profile.PasswordChange}</a>
    <a href="{control pageSlug 11}"{if $pageId == 11} class="active"{/if}>{_dictionary.main.addresses|firstUpper}</a>
</nav>