{var $slugArray["title"] = "Profil: Heslo"}
{block content}
<div class="container heading">
    <h1>{$slugArray["title"]}</h1>
</div>

<div class="container">
    {foreach $flashes as $flash}
        <div class="flash {$flash->type}">{$flash->message}</div>
    {/foreach}

    <div class="row">
        <div class="col-md-3">
            {control profileMenu}
        </div>
        <div class="col-md-9">
            {control profileChangePassword}
        </div>
    </div>
</div>