{block #titles}{_dictionary.main.Parametres}{/block}
{block content}

<h1 class="page-header">{_dictionary.main.Parametres}</h1>

<div class="row">
    <div class="col-lg-3">
        <h2>{_dictionary.main.InsertParameter}</h2>

        {control insertNewParamForm}

    </div>
    <div class="col-lg-9">
        {control paramsGrid}
    </div>
</div>