{block content}

<div class="container heading">
    <h1>{control pageTitle $page}</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            {foreach $flashes as $flash}
                <div class="flash {$flash->type}">{$flash->message}</div>
            {/foreach}

            {control helpdesk}
        </div>
    </div>
</div>