<div class="row">
    {foreach $documents as $item}
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 mb-3">
            <div class="card" style="height: 320px;">
                <div style="height: 150px;" class="text-center">
                    <a href="{plink ':Admin:Files:detailPicture', 'id' => $item->id}">
                        <img src="{$baseUri}/pictures/{$item->pages_id}/{$item->name}" alt="{$item->name}"
                             class="card-image-top img-fluid" style="max-height: 150px; width: auto;">
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-title"><span style="font-size: 18px;">{$item->name}</span><br>
                        {$item->title}<br>{$item->description}</p>
                    <a href="{link delete!, id => $item->id, type => $item->name}"
                       onclick="return confirm('Opravdu smazat?')" class="btn btn-danger btn-sm">
                        Smazat
                    </a>
                    &nbsp;
                    <a href="{link setMain!, id => $item->pages_id, image => $item->id}" class="btn btn-info btn-sm">
                        {if $item->main_file}je hlavní{else}není hlavní{/if}
                    </a>
                    &nbsp;
                    <a href="{plink ':Admin:Files:detailPicture', id => $item->id}"
                       class="btn btn-info btn-sm pull-right">
                        Upravit
                    </a>
                </div>
            </div>
        </div>
    {/foreach}
</div>

<div class="text-center">
    {control paging, $args, $paginator}
</div>