<table class="table">
    {foreach $pages as $item}
        <tr>
            <td>
                <a href="{plink this, id => $item->id}">
                    <i class="fa fa-folder-o"></i>
                </a>

                <a href="{plink this, id => $item->id}"
                   class="btn btn-default btn-xs"
                   role="button">Upravit</a>
            </td>
            <td>
                <a href="{plink this, id => $item->id}">
                    <span>{$item->title}</span>
                </a>
            </td>
            <td>
                <a href="{link delete!, id => $item->id}"
                   onclick="return confirm('Opravdu chcete smazat tuto stránku a všechny její podstránky s celým obsahem?')">
                    <i class="fa fa-times font-red"></i>
                </a>
            </td>
        </tr>
    {/foreach}
</table>