<table class="table">
    {foreach $pages as $item}
        <tr>
            <td class="w10">
                <a href="{link delete!, id => $item->id}" class="text-danger"
                   onclick="return confirm('Opravdu chcete smazat tuto stránku a všechny její podstránky s celým obsahem?')">
                    <i class="fa fa-times font-red"></i>
                </a>
                <a href="{plink this, id => $item->id}">
                    <i class="fa fa-folder-o"></i>
                </a>
            </td>
            <td><a href="{plink this, id => $item->id}">{$item->title}</a></td>
        </tr>
    {/foreach}
</table>