{block content}
<div class="container heading">
    <h1>{control pageTitle $page}</h1>
</div>

<div class="container padded-top white">
    <div class="row">
        <div class="col-sm-8">

            <p><small>{$events->date_event|date:'j. n. Y H:i'}</small></span></p>

            {control pageDocument $page}
        </div>
    </div>
</div>