<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Nový účet</title>
    </head>
    <body>
        <p>Dobrý den,</p>

        Ověření účtu <a href="http://caloris.cz/sign/verify/{$activationCode}">http://caloris.cz/sign/verify/{$activationCode}</a>
        <br />
        <br />
        V případě, že máte jakékoliv otázky, neváhejte se nás zeptat na tomto e-mailu.
    </body>
</html>