Vítejte v administraci %title%<br />
<br />
Do administrace se můžete přihlásit na této adrese: <a href="%url%/members/login.html">%url%/members/login.html</a> 
s následujícím uživatelským jménem a heslem<br />
<br />
Uživatelské jméno: %username%<br />
Heslo: %pwd%<br />
<br />
Pokud máte jakékoliv otázky, neváhejte nám je poslat na tento e-mail: <a href="mailto:%emailadmin%">%emailadmin%</a>