Na základě Vaší žádosti Vám posíláme odkaz na obnovení hesla.
<br /><br />
K vytvoření nového hesla klikněte na odkaz níže:
<br />
<a href="http://new.mimix.cz/sign/resetpass/?code={$code}&email={$email}">http://new.mimix.cz/sign/resetpass/?code={$code}&email={$email}</a>
<br /><br />
<strong><a href="http://mimix.cz">Mimix</a></strong>
