<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{$settings['site:title']}: Nový účet</title>
    </head>
    <body>
        <p>Dobrý den,</p>

        Ověření účtu <a href="{$settings['site:url:base']}/sign/verify?user={$username}&code={$activationCode}&do=verifyForm-submit">
            {$settings['site:url:base']}/sign/verify?user={$username}&code={$activationCode}&do=verifyForm-submit</a>
        <br />
        <br />
        V případě, že máte jakékoliv otázky, neváhejte se nás zeptat na tomto e-mailu.
    </body>
</html>