<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{$settings['site:title']}: Nový účet {$username}, </title>
    </head>
    <body>
        <p>Nový účet</p>

        <div style="display: block; color: white; background-color: navy; min-width: 150px; height: 60px; padding: 5px;">
            <a href="{$settings['site:url:base']}/sign/verify?user={$username}&code={$activationCode}&do=verifyForm-submit">
                Ověřit účet
            </a>
        </div>
        <br />
        <br />
        <table>
            <tr>
                <td>Uživatel</td>
                <td>{$form->values->username}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{$form->values->email}</td>
            </tr>
            <tr>
                <td>Jméno</td>
                <td>{$form->values->name}</td>
            </tr>
            <tr>
                <td>Ulice</td>
                <td>{$form->values->street}</td>
            </tr>
            <tr>
                <td>Město</td>
                <td>{$form->values->city}</td>
            </tr>
            <tr>
                <td>PSČ</td>
                <td>{$form->values->zip}</td>
            </tr>
            <tr>
                <td>Společnost</td>
                <td>{$form->values->company}</td>
            </tr>
            <tr>
                <td>IČ</td>
                <td>{$form->values->vatin}</td>
            </tr>
            <tr>
                <td>DIČ</td>
                <td>{$form->values->vatid}</td>
            </tr>
        </table>

        {if $g == 45646}
            {if count($aresArr) > 0}
                Výpis z ARESu:<br />
                <br />
                IČ: {$aresArr['in']}<br />
                DIČ: {$aresArr['tin']}<br />
                Název: {$aresArr['company']}<br />
                Ulice: {$aresArr['street']}<br />
                Město: {$aresArr['city']}<br />
                PSČ: {$aresArr['zip']}<br />
                Plátce DPH: {if $aresArr['vat_pay']}ano{else}ne{/if}<br />

                Spis: {$aresArr['file_number']}<br />
                Městský soud: {$aresArr['court']}
            {/if}
        {/if}
    </body>
</html>