<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{$settings['site:title']}: Nový účet</title>
    </head>
    <body>
        <p>Dobrý den,</p>

        Po ověření administrací {$settings['site:title']} Vám bude zaslána zpráva a Vy se můžete přihlásit.
        <br />
        <br />
        V případě, že máte jakékoliv otázky, neváhejte se nás zeptat na tomto e-mailu.
    </body>
</html>