<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/pdf.css">
</head>

<table class="table">
    <tr>
        <td>
            <h1>Ceník</h1>
        </td>
    </tr>
</table>

<table class="table">
    {var $category = ''}
    {foreach $pricelist as $item}
        <tr>
        {if $category != $item->pricelist_categories_id}
            <tr>
                <td colspan="2" class="category text-center">
                    <strong>{$item->pricelist_categories->title}</strong>
                </td>
            </tr>
            {var $firstArrow = 1}
            {var $counter = 1}
        {else}
            {var $firstArrow = 0}
        {/if}
        <tr>
            <td>{$item->amenu}</td>
            <td class="col-md-2 text-right">{$item->price},- Kč</td>
        </tr>
        {var $category = $item->pricelist_categories_id}
    {/foreach}
</table>