{block #titles}Úspěšná registrace{/block}
{block content}

<div class="container heading">
    <h1>Registrace proběhla úspěšně</h1>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="flash success" style="line-height: 1.5em;">
            Vaše registrace proběhla úspěšně.
            <br /><br />
            Pro první přihlášení použijte odkaz,
            který byl právě odeslán na Váš e-mail.
            <br /><br />
        </div>
    </div>
</div>
