{block content}

<div class="container heading">
    <h1>{control pageTitle $page}</h1>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="flash success" style="line-height: 1.5em;">
            <p>Vaše registrace proběhla úspěšně.</p>
            <p>Pro první přihlášení použijte odkaz, který byl právě odeslán na Váš e-mail.</p>
        </div>
    </div>
</div>
