{block content}

<div class="container heading">
    <h1>{control pageTitle $page}</h1>
</div>

<section class="container">
    {foreach $flashes as $flash}
        <div class="flash {$flash->type}">{$flash->message}</div>
    {/foreach}

    <p>Všechna pole jsou povinná</p>

    <div class="col-lg-offset-1 col-md-8">
        {control signUp}
    </div>
</section>