{if count($languages) > 1}
    <p>
        Jazykové mutace:
        {foreach $languages as $item}
            {if $item->getDefault()}
                {var $code = null}
            {else}
                {var $code = $item->getCode()}
            {/if}

            {if $langSelected == $item->getCode()}
                {var $active = " btn-primary"}
            {elseif $langSelected == '' && $item->getDefault() == 1}
                {var $active = " btn-primary"}
            {else}
                {var $active = ""}
            {/if}
            <a href="{plink this, id => $id, (expand) $arr, l => $code}" class="btn{$active}">{$item->getTitle()}</a>
        {/foreach}
    </p>
{/if}