{block content}

<div class="heading">
    <div class="container">
        <h1>{control pageTitle $page}</h1>
    </div>
</div>

<div class="container white content">
    <div class="col-md-9">
        {control pageDocument $page}
    </div>
</div>