.blog {
    h2 {
        i {
            color: orange;
        }
    } 

    .item {
        padding-bottom: 20px;

        h3 a {
            color: #000000;
            font-size: 0.85em;

            &:hover {
                text-decoration: none;
            }
        }
        
        img {
            padding-right: 20px;
            float: left;
            max-height: 100px;
        }
        
        .date {
            &:before {
                content: ', ';
            }
        }

        .about {
            line-height: 1.5em;

            .more {
                display: block;

                a {
                    &:before {
                        content: ' more';
                    }
                }
            }
        }
    }

}