/* Error messages */

div.flash.note, div.flash.info {
    color: @cal-color-font-message-info !important;
    font-weight: bold !important;
}

div.flash.error {
    color: @cal-color-font-message-danger;
    font-weight: bold !important;
}