/* introducing grid for small mobiles */
.col-tn-1,
.col-tn-2,
.col-tn-3,
.col-tn-4,
.col-tn-5,
.col-tn-6,
.col-tn-7,
.col-tn-8,
.col-tn-9,
.col-tn-10,
.col-tn-11,
.col-tn-12 {
    position:relative;
    padding-left:15px;
    padding-right:15px;
}

@media (max-width: 540px) {
    .container {max-width:458px;} 
    .col-tn-1,
    .col-tn-2,
    .col-tn-3,
    .col-tn-4,
    .col-tn-5,
    .col-tn-6,
    .col-tn-7,
    .col-tn-8,
    .col-tn-9,
    .col-tn-10,
    .col-tn-11 {float:left;}
    .col-tn-1 {width:8.33333333%;}
    .col-tn-2 {width:16.66666667%;}
    .col-tn-3 {width:25%;}
    .col-tn-4 {width:33.33333333%;}
    .col-tn-5 {width:41.66666667%;}
    .col-tn-6 {width:50%;}
    .col-tn-7 {width:58.33333333%;}
    .col-tn-8 {width:66.66666667%;}
    .col-tn-9 {width:75%;}
    .col-tn-10 {width:83.33333333%;}
    .col-tn-11 {width:91.66666667%;}
    .col-tn-12 {width:100%;}

    .hidden-tn {
        display: none;
    }

    .visible-tn {
        display: block;
    }
}
/* 1/5 column layout */
@media (min-width: 768px) {
    .col-sm-1-5 { width: 20%; }
    .col-sm-2-5 { width: 40%; }
    .col-sm-3-5 { width: 60%; }
    .col-sm-4-5 { width: 80%; }
    .col-sm-5-5 { width: 100%; }
}

@media (min-width: 992px) {
    .col-md-1-5 { width: 20%; }
    .col-md-2-5 { width: 40%; }
    .col-md-3-5 { width: 60%; }
    .col-md-4-5 { width: 80%; }
    .col-md-5-5 { width: 100%; }
}

@media (min-width: 1200px) {
    .col-lg-1-5 { width: 20%; }
    .col-lg-2-5 { width: 40%; }
    .col-lg-3-5 { width: 60%; }
    .col-lg-4-5 { width: 80%; }
    .col-lg-5-5 { width: 100%; }
}

/* Demo only, no need for this */

.show-grid [class^=col-] span,
.container-fluid .show-grid [class^=col-] {
    display: block;
}