/* Store - presentation styles */
ul.shipping li {
    border-top: 1px solid #bebebe;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #bebebe;
    border-left: 1px solid #dedede;
    padding: 5px;
    margin: 5px 0;
    list-style-type: none;
}

.address-selected a {
    font-weight: bold
}