/* Variables */

@cal-base-color: #00BFFF; /* Navigations */

/* Fonts*/
@cal-font-family:  "Open Sans", Arial, sans-serif;

/* Colors: Fonts */
@cal-color-font-white: #FFFFFF;
@cal-color-font-message-info: #2AABD2;
@cal-color-font-message-danger: #FF0000;