<div id="sorter-ids" class="hidden"
     data-images="{foreach $carousel as $itemS}{$itemS->getId()}{sep},{/sep}{/foreach}"></div>

<div id="sortable">
    {foreach $carousel as $item}
        <div class="card sort-item" id="{$item->getId()}">
            <img src="/images/carousel/{$item->getImage()}" alt="" style="max-height: 135px;">
            <div class="card-body">
                <p><strong>{$item->getTitle()}</strong></p>
                <p class="card-text">{$item->getDescription()}</p>
                <div>
                    <a href="{link delete! id => $item->getId()}" class="text-danger">smazat položku</a>
                    <a href="{plink ':Admin:Appearance:carouselDetail' id => $item->getId()}" class="float-right">upravit položku</a>
                </div>
            </div>
        </div>
    {/foreach}
</div>