{block #titles}RSS{/block}
{block content}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/">Admin</a></li>
    <li class="breadcrumb-item"><a href="/admin/settings/">Nastaveni</a></li>
    <li class="breadcrumb-item active"><a href="/admin/settings/rss">RSS</a></li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-rss"></i> RSS
                    </div>
                    <div class="card-block">
                        {if $memberRole && $memberRole->settings}
                            <div class="form-group row">
                                <label class="col-md-4 form-control-label">RSS URL</label>
                                <div class="col-sm-4">
                                    <input id="rss-url" type="text" class="form-control" readonly value="{$settings['site:url:base']}/rss.xml">
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-default" onclick="document.getElementById('rss-url').select(); document.execCommand('copy');">
                                        <i class="fa fa-copy"></i> Kopirovat
                                    </button>
                                </div>
                            </div>
                            {control editRssSettings}
                        {else}
                            <p>Nemate opravneni k zobrazeni teto stranky</p>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
