Na základě Vaší žádosti Vám posíláme odkaz na obnovení hesla.
<br /><br />
K vytvoření nového hesla klikněte na odkaz níže:
<br />
<a href="{$settings['site:url:base']}/admin/sign/resetpass/?code={$code}&email={$email}">
    {$settings['site:url:base']}/admin/sign/resetpass/?code={$code}&email={$email}
</a>
<br /><br />
<strong><a href="{$settings['site:url:base']}">{$settings['site:title']}</a></strong>
