<div class="row">
    <div class="col-md-4">%image%</div>
    <div class="col-md-8">
        <p style="margin: 0 0 10px 0; padding: 0; line-height: 1.0em; font-size: 1.15em;"><a href="%link%">%heading%</a></p>
        %body%
        <p class="blogMore">
            <a href="%link%">[cal:www.t(More;blog) /] &gt;&gt;</a> <br />
            %date%
        </p>
    </div>
</div>