<div class="row greenLine">
    <div class="col-md-6"><h1>%heading%</h1></div>
    <div class="col-md-6"></div>
</div>

<div class="row" style="line-height: 1.75em; margin-bottom: 50px;">
    <div class="col-md-11">%date%<br />%body%</div>
    <div class="col-md-1">%image%</div>
</div>