/* ----------------------------------------------
Caloris: AdministrationStylesheet

Author: caloris@caloris.cz

External style for administration
---------------------------------------------- */

body {padding: 80px 0 0 0;}

h1, h2 {margin-bottom: 20px;}
h1 {font-size: 20px;}
h2 {margin: 10px 0; font-size: 16px;}

.ac_results {padding: 0px; border: 1px solid black; background-color: white; overflow: hidden; z-index: 99999;}
.ac_results ul {width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0;}
.ac_results li {margin: 0px; padding: 2px 5px; cursor: default; display: block; font: menu; font-size: 12px; line-height: 16px; overflow: hidden;}
.ac_loading {background: white url('../../images/indicator.gif') right center no-repeat;}
.ac_odd     {background-color: #eee;}
.ac_over    {background-color: #0A246A; color: white;}

.perex      {margin: 0 0 10px 0;}

ul.ttnav    {margin: 0; overflow: hidden;}
.ttnav li   {padding: 3px 8px; display: block; float: left; height: 22px;}

.atnav      {margin: 0; padding: 0;}
.atnav li   {text-align: center; margin: 0; padding: 51px 0 0 0; width: 130px; height: 50px; list-style-type: none; float: left; background-image: url('../images/mnu-pages.png'); background-repeat: no-repeat; background-position: center top;}
.atnav li a {margin: 0; padding: 55px 0 0 0;}

#subNav     {text-align: right; background-color: #eeeeee; padding: 5px 15px; margin-bottom: 10px; height: 20px; font-size: 1.08em;}
#subNav a   {color: black;}

// Sign in form

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="user"] {
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}