<form n:name="sendForm" class="form-horizontal" role="form">
    <ul class="error" n:if="$form->hasErrors()"><li n:foreach="$form->errors as $error">{$error}</li></ul>
    <input type="hidden" n:name="layer" value="{$layer}">

    <input type="text" n:name="email" class="form-control" placeholder="e-mailová adresa" autocomplete="off">
    <br>
    <button class="btn btn-lg btn-primary btn-block" n:name="submitm" type="submit">Odeslat</button>
</form>
